.about-title {
    font-size: 1.5rem !important;
}
.seven-separator:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    height: 1px;
    width: 100%;
    background-color: rgba(0,0,0,.15);
}
.seven-separator:after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    height: 100px;
    width: 100px;
    /* background-color: pink; */
    border-radius: 1000px;
    /* background-color: #efefef; */
    background-color: #fff;
}
.seven-separator img {
    width: 70px;
    display: inline-block;
    position: relative;
    z-index: 1;
}

table {
    width: 100vh !important;
    word-break: break-all;
    word-wrap: break-word;
    /* table-layout: fixed; */
}

/* tbody {
    width: 100vmin !important;
} */
/* tr {
    width: 100vmin !important;
} */



table tbody tr td {
    /* width: 100%; */
}

table img {
    max-width: 100vmin;
}

.about-content img {
    max-width: 100%;
    height: 100% !important;
}
